#search-wrapper {
  display: flex;
  justify-content: center;
}
#searchbox {
  margin-bottom: 50px;
}
#search-results-wrapper {
  display: flex;
}
#facets {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
#hits {
  width: 100%;
}
.facet-field {
  margin: 10px 0;
}
.array-field {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 150px;
}
[class^='ais-'] {
  box-sizing: border-box;
  font-size: 1rem;
}
.ais-Hits-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -1rem;
  margin-left: -1rem;
  list-style: none;
  margin-inline: 0;
}
.ais-Hits-item {
  display: flex;
  flex-direction: column;
  width: calc(33% - 1rem);
  margin: 10px;
  padding: 10px;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
}
@media (max-width: 1524px) {
  .ais-Hits-item {
    width: calc(50% - 2rem);
  }
}
.hit-title {
  margin-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
}
.hit-body {
  margin-bottom: 5px;
  font-size: 0.9em;
}
.ais-Pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.ais-Pagination-list {
  display: flex;
  padding: 0;
  list-style: none;
}
.ais-Pagination-item {
  margin: 0 5px;
}
.ais-RefinementList-labelText {
  margin-left: 5px;
}
.ais-RefinementList-count {
  margin-left: 5px;
}
.ais-SearchBox-form {
  position: relative;
  display: block;
}
.ais-SearchBox-input {
  position: relative;
  width: 100%;
  padding: 0.3rem 1.7rem;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
  background-color: #fff;
  -webkit-appearance: none;
  appearance: none;
}
.ais-SearchBox-submit {
  left: 0.3rem;
}
.ais-SearchBox-submitIcon {
  width: 14px;
  height: 14px;
}
.ais-SearchBox-reset {
  right: 0.3rem;
}
.ais-SearchBox-loadingIndicator,
.ais-SearchBox-reset,
.ais-SearchBox-submit {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0.3rem;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  -webkit-appearance: none;
  appearance: none;
}
.ais-RefinementList-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ais-ClearRefinements-button,
.ais-CurrentRefinements-delete,
.ais-CurrentRefinements-reset,
.ais-GeoSearch-redo,
.ais-GeoSearch-reset,
.ais-HierarchicalMenu-showMore,
.ais-InfiniteHits-loadMore,
.ais-InfiniteHits-loadPrevious,
.ais-InfiniteResults-loadMore,
.ais-Menu-showMore,
.ais-RangeInput-submit,
.ais-RefinementList-showMore,
.ais-SearchBox-reset,
.ais-SearchBox-submit,
.ais-VoiceSearch-button {
  overflow: visible;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: inherit;
  border: 0;
  background: none;
  font: inherit;
}
.ais-SearchBox-loadingIcon,
.ais-SearchBox-resetIcon,
.ais-SearchBox-submitIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
