{{ attach_library('search_api_typesense/search') }}

<div id="search-wrapper">
  <div id="searchbox"></div>
</div>
<div id="results">
  <div id="search-results-wrapper">
    <div id="facets">
      <div id="stats"></div>

      {% for facet_string_field in facet_string_fields %}
        <div id="{{ facet_string_field }}" class="facet-field"></div>
      {% endfor %}

      {% for facet_number_field in facet_number_fields %}
        <div id="{{ facet_number_field }}" class="facet-field"></div>
      {% endfor %}
    </div>
    <div id="hits"></div>
  </div>
  <div id="pagination"></div>
</div>
